---
import IdProject from "../../components/React/Id-Project/IdProject";
import Layout from "../../layouts/Layout.astro";

export interface Props {
	title: string;
  idWork: string;
}

const getWork = async (idWork: string) => {
  let response = await fetch(
    `https://api.airtable.com/v0/appVpp9nSNmoFNXBn/projects/${idWork}`,
    {
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${import.meta.env.VITE_AIRTABLE_API_KEY}`,
      },
    }
  );
  const json = await response.json();
  return json["fields"];
}


const { title, idWork } = Astro.props;
const work = getWork(idWork);


// <Head>
//     <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
//     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//     <title>Projet - {work?.title}</title>
//   </Head>

---

<Layout title={title} >
  <IdProject work={work} />
</Layout>